[Unit] Description={project_name}
After=network.target
[Service]
Type=simple
User=root
WorkingDirectory=/home/your_directory/{project_name}
ExecStart=/home/your_directory/{project_name}/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target